/* Ghi đè style của react-slick cho Mobile Slider */
.slick-dots li button {
	width: 6px;
	height: 6px;
}

/* Change dot colors */
.slick-dots li button:before {
	color: #9ca3af;
}

/* Change dot color when active */
.slick-dots li.slick-active button:before {
	color: #e85102;
}

.slick-slide div img {
    opacity: 1; 
    filter: none; 
}

.slick-slider::before {
	content: none; 
}